{
  "presets": [
    [
      "@babel/env",
      {
        "include": [],
        "debug": true
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
