extends _layout
block content
    .widget
        .widget-close 
        .widget-title !! Сообщение токсично !!
        .widget-description Рекомендуем дважды подумать, прежде чем такое писать. Корректируй, сука!
        .widget-text Сижу давно на www.artstation.com Наконец то и эти пидоры проснулись и подумали о дизайне и удобстве. Ещё надеюсь отделять любительский арт, от профессионального, из-за первого выглядит сумбурно всё, явно есть работы начинающих - чтоб их, но я бы хотел разделения и фильтры.
        .widget-controls
            .btn.btn--widget Удалить 
            .btn.btn--widget Отправить
